@import "style.css";

.main-container {
  display: grid;
  grid-template-columns: 240px 920px; 
  grid-template-rows: 1448px 1626px;
  gap: 24px; 
  padding: 20px 130px; 
  background: var(--background-page);

}
.item {
    background: var(--white);
}
 /* Sidebar */
 ul {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

.filter-list a {
    color: var(--primary);
}
 .sidebar {
  width: 240px;
  padding: 1rem;
}

 .filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: var(--dark);
  padding: 8px 0;
}

.filter-section {
  border-top: 1px solid #DEE2E7; 
  padding-top: 10px;
  margin-top: 10px;
}
.arrow {
    color: var( --text-secondary);
}
input[type="checkbox"] {
  accent-color: #BDBDBD;
}

label {
display:inline-block;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--dark);
    padding: 8.5px 10.5px 8.5px 0;
}
.category-list li {
   display:inline-block;
   width: 230px;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--text-primary);
    padding: 9px 11px 8px 0; 
}
.category-list a {
    color: var(--primary);
}
