@import "style.css";

.main-container {
  display: grid;
  grid-template-columns: 230px 920px;
  grid-template-rows: 1448px 1626px;
  gap: 26px;
  padding: 20px 130px;
  background: var(--background-page);

}



/* Sidebar */
ul {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.filter-list a {
  color: var(--primary);
}

.sidebar {
  width: 230px;

}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: var(--dark);
  padding: 8px 0;
}

.filter-section {
  border-top: 1px solid #DEE2E7;
  padding-top: 14px;
  padding-bottom: 28px;
  margin-top: 0px;
}

.arrow {
  color: var(--text-secondary);
}

input[type="checkbox"] {
  accent-color: #BDBDBD;
}

label {
  display: inline-block;
  align-items: center;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--dark);
  padding: 8.5px 10.5px 8.5px 0;
}

/* category section */
.category-list li {
  display: inline-block;
  width: 230px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--text-primary);
  padding: 9px 11px 8px 0;

}

.category-list a {
  color: var(--primary);
}

/* price range section */

.range-slider {
  position: relative;
  height: 4px;
  background: #AFD0FF;
  border-radius: 2px;
  margin-bottom: 20px;
}

.slider-track {
  position: absolute;
  left: 10%;
  width: 60%;
  height: 4px;
  background-color: #0D6EFD;
  border-radius: 2px;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  height: 4px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0D6EFD;
  border: none;
  -webkit-appearance: none;
}



.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}


.inputs input {
  width: 110px;
  height: 40px;
  padding: 6px 8px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  font-size: 16px;
  text-align: start;
  color: #111827;
}

input::placeholder {
  color: #A9ACB0;
  opacity: 1;
}

.apply-btn {
  display: block;
  width: 228px;
  height: 40px;
  padding: 8px 0;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  background: white;
  color: #0D6EFD;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.apply-btn:hover {
  background: #0D6EFD;
  color: white;
}

/* condition section */
.condition-list a {
  color: var(--primary);
}

.condition-list input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #8b96a5;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.condition-list input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #0d6efd;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;

}

/*  when checked, turn border blue and show inner dot */
.condition-list input[type="checkbox"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.condition-list input[type="checkbox"]:checked {
  border-color: #0d6efd;
}

/* Ratings section */
.allstars {
  color: #ff9017;
  font-size: 18px;
}

.greystar {
  color: #bdc4cd;
  font-size: 18px;
}


/* MAIN CONTENT SECTION */
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

/* Content top */
.content-title {
  display: flex;
  height: 62px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  align-items: center;
  background: var(--white);
  padding-left: 19px;
  justify-content: space-between;
}

.right-items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.verified {
  display: inline-flex;
  align-items: center;
  width: 144px;
  height: 36px;
}

.featured {
  width: 172px;
  height: 40px;
  border: 1px solid #dee2e6;
  font-size: 16px;
  border-radius: 10px;
  align-self: center;
}

.btn-group button {
  height: 40px;
  border: none;
  border-radius: 10px;

}

/* CONTENT */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* content cards */

.product-card {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  max-width: 920px;
  height: 230px;
  width: 100%;
  gap: 20px;
}

/* Heart Icon */
.wishlist-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: var(--white);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
}

.wishlist-btn:hover {
  background: var(--gray-100);
}

/* Image */
.product-img img {
  width: 210px;
  height: 210px;
  border-radius: 10px;
  object-fit: cover;
}

/* Info */
.product-info {
  flex: 1;
}

/* Title */
.product-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 16px 0;
}

/* Price */
.product-price {
  margin-bottom: 4px;
  line-height: 28px;
}

.product-price .current {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}

.product-price .old {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-500);
  text-decoration: line-through;
  margin-left: 8px;
}

/* Rating and Meta */
.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 14px;
}

.score {
  color: #ff9017;
  font-size: 16px;
  font-weight: 400;
}

.orders {
  color: var(--gray-500);
}

.card-shipping {
  color: var(--green);
}

.dot {
  color: var(--gray-400);
}

/* Description */
.product-desc {
  margin: 16px 0 8px 0;
  font-size: 14px;
  color: var(--gray-600);
}

/* Link */
.view-details {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.view-details:hover {
  text-decoration: underline;
}

/* PAGINATION */
.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 43px;

}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02);
  font-family: var(--font-main);
}

/* Show count */
.show-count {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--dark);
  font-size: 16px;
  

}

.show-count select {
  width: 133px;
  height: 40px;
  border: 1px solid #DEE2E7;
  border-radius: 8px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%238B96A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E") no-repeat right 12px center;
  font-size: 16px;
  color: var(--dark);
  cursor: pointer;
  padding: 10px 8px 10px 10px;
}

/* Page buttons */
.page-controls {
  display: flex;
  align-items: center;
  border: 1px solid #DEE2E7;
  border-radius: 8px;
  background: var(--white);
  width: 217px;
  height: 40px;
}

.page-btn {
  border: 1px solid #DEE2E7;
  background: transparent;
  color: var(--dark);
  width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.page-btn:hover {
  background: var(--gray-200);
}

.page-btn.active {
  background: var(--gray-200);
  border-color: var(--gray-300);
  color: var(--gray-500);
  font-weight: 500;
}

.page-btn.prev {
  color: var(--gray-500);
  border: none;
}

.page-btn.next {
  color: var(--dark);
  border: none;
}

.page-btn.prev:hover,
.page-btn.next:hover {
  color: var(--primary);
}

/* Responsive tweak */
@media (max-width: 480px) {
  .pagination-wrapper {
    justify-content: center;
  }

  .pagination {
    flex-wrap: wrap;
    gap: 8px;
  }
}