:root {
    /* Base colors */
    --white: #ffffff;
    --dark: #1c1c1c;
    --gray-600: #505050;
    --gray-500: #8b96a5;
    --gray-400: #bdc4cd;
    --gray-300: #dee2e6;
    --gray-200: #eff2f4;
    --gray-100: #eeeeee;

    /* Brand and functional colors */
    --primary: #0d6efd;
    --primary-gradient: linear-gradient(to right, #0067ff, #127fff);
    --green: #00b517;
    --orange: #ff9017;

    /* background */
    --background-page: #F7FAFC;
    --background-card: var(--white);
    --background-secondary: var(--gray-200);

    /* texts */
    --text-primary: var(--gray-600);
    --text-secondary: var(--gray-500);
    --text-muted: var(--gray-400);
    --text-links: var(--primary);
    /* for clickable links like "view details" */
    --text-success: var(--green);
    /* for messages like "free shipping" */

    --font-main: 'Inter', sans-serif;

    --font-size-h4: 24px;
    --font-size-h6: 20px;
    --font-size-body: 16px;
    --font-size-small: 12px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

ul li a {
    text-decoration: none;
    color: inherit;
}


body {
    background-color: var(--background-page);
    font-family: var(--font-main);
}
/* HEADER */
.header {
    display: flex;
    width: 1440px;
    height: 86px;
    background-color: var(--background-card);
    align-items: center;
    padding: 0 130px;

}

.logo {
    width: 150px;
    height: 46px;
    margin-right: 46px;
   
}

.search-bar {
    display: flex;
    width: 665px;
    height: 40px;
    border: 1px solid #0d6efd;
    border-radius: 8px;
    align-items: center;
}

.search-input {
    display: flex;
    align-items: center;
    width: 421px;
    padding: 10px;
    font-size: var(--font-size-body);
    color: var(--text-secondary);
    flex-shrink: 0;
    border: 1px solid #0d6efd;
    border-radius: 8px 0 0 8px;

}

.category-select {
    color: var(--dark);
    font-size: var(--font-size-body);
    line-height: 19px;
    border: 1px solid #0d6efd;
    width: 145px;
    padding: 11px 5px 10px 10px;

}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 26px 8px 12px;
    border: 1px solid #d1d5db;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%238B96A5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E") no-repeat right 12px center;
    background-size: 16px;
    color: #1f2937;
    font-size: 16px;
    box-sizing: border-box;
}

.search-btn {
    width: 100px;
    background: var(--primary-gradient);
    color: var(--white);
    text-align: center;
    padding: 10px 23px;
    border: 1px solid #0d6efd;
    font-size: var(--font-size-body);
    border-radius: 0 8px 8px 0px;
}

.action-center {
    display: flex;
    width: 228px;
    height: 41px;
    gap: 20px;
    padding: 6px;
    margin-right: 132px;
    margin-left: 89px;
   align-items: center;

}

.action-icon {
    width: 20px;
    height: 20px;
    color: var(--text-secondary);
    flex-shrink: 0;
    vertical-align: middle;
}

.action-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-secondary);
    font-size: var(--font-size-small);
    flex-shrink: 0;
}
/* NAVIGATION BAR */
.navigation-bar {
    display: flex;
    width: 1440px;
    height: 56px;
    background: var(--white);
    color: var(--dark);
    border: 1px solid #E0E0E0;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    align-items: center;

}

.main-menu {
    width: 620px;
    height: 24px;
    list-style-type: none;
    color: var(--dark);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
    margin: 20px 290px 20px 130px;
    gap: 25px;
    flex-shrink: 0;
}

.help,
.language,
.shipping {
    border: none;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-medium);
    flex-shrink: 0;
}

.category-2 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.category-2::before {
    content: "≡";
    font-size: 24px;
}


.menu-right {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.language {
    width: 162px;
    margin: 16px 32px 16px 0px;
    gap: 2px;
    display: flex;
    flex-shrink: 0;

}

.shipping {
    width: 143px;
    margin: 16px 128px 16px 0;
     flex: 1;
}
.shipping-container {
    display: flex;
    align-items: center;
    gap: 8px;
   
}

.flag {
    width: 22px;
    height: 16px;
}
   /* BREADCRUMB  */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-size-body);
  width: 411px;
  height: 24px;
  color: var(--text-secondary);
  margin: 20px 0 20px 133px;
   
}

.breadcrumb a {
  text-decoration: none;
  color: var(--text-secondary);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.chevron {
  color: var(--text-secondary);
  font-size: 12px;
  width: 10px;
  height: 10px;
}

.current {
  color: var(--text-secondary);
  cursor: default;
}

