:root {
    /* Base colors */
    --white: #ffffff;
    --dark: #1c1c1c;
    --gray-600: #495057;
    --gray-500: #6c757d;
    --gray-400: #bdc4cd;
    --gray-300: #dee2e6;
    --gray-200: #eff2f4;
    --gray-100: #eeeeee;

    /* Brand and functional colors */
    --primary: #0d6efd;
    --primary-gradient: linear-gradient(to right, #0067ff, #127fff);
    --green: #00b517;
    --orange: #ff9017;

    /* background */
    --background-page: var(--gray-100);
    --background-card: var(--white);
    --background-secondary: var(--gray-200);

    /* texts */
    --text-primary: var(--gray-600);
    --text-secondary: var(--gray-500);
    --text-muted: var(--gray-400);
    --text-links: var(--primary);     /* for clickable links like "view details" */
    --text-success: var(--green);    /* for messages like "free shipping" */

    --font-main: 'Inter', sans-serif;

    --font-size-h4: 24px;
    --font-size-h6: 20px;
    --font-size-body: 16px;
    --font-size-small: 14px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}



body {
    background-color: var(--background-page);
    font-family: var(--font-main);
}